 
 .grid-conteiner{
    width: 30rem;
    
    height: 30rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 5rem 5rem 5rem; */
     /* justify-content: center; */
    /* align-content: center; */
    /* gap: 20px 40px; */
    

}
.grid-item{
    border: 1px solid black;
    // background-color: $color-primary;
    background-color: chartreuse;
}



.header{
    
grid-column: 1/4;
}
.menue{
    grid-column: 1/2;
    grid-row: 2/4;
    
}
.footer{
    grid-column: 2/4;
}

// .left{
//     background-color:$color-primary;
// }