h1{
    color:red;
}
.conteiner{
    width: 50rem;
    height: 20rem;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px ;
}

.item-2{
    background-color: rgb(243, 150, 165);
    grid-area: 1/2/3/3;
}
.layout{
    background-color: yellow;
    grid-area: 1/3/5/4;
}
#one{
    background-color: blue;
}