#root {
    margin-left: 25vw;
}

.container {
    position: absolute;
    bottom: 0;

    background-color: rgb(234, 230, 224);
    min-height: 12vh;
    min-width: 40rem;
    max-width: 50rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;

    border-radius: 2rem;
}
