.chat {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #261254;
    font-size: 2rem;
    font-weight: bold;

    color: #ffffff;
    width: 30rem;
    min-height: 5rem;
    max-height: 10rem;
    border-radius: 3rem;
    /* resize: vertical;
    cursor: n-resize; */
}
.chat:hover {
    background-color: #41218a;
    cursor: pointer;
}
