//COLORS

$color-primary:#334772;
$color-secondary:#30AAA9;
$color-tertiary:#727272;
$color-white:#FFFFFF;
$text-color:#000000;
$background-color-1:#B6B5B5;
$background-color-2:#F5F5F5;
$background-color-3:#30AAA9;




//FONTS
$default-font-size: 2.4rem;